*{
    margin:0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #5e6950;
    color:white;
}

.textSimon{
    text-align: center;
    user-select: none;
}

.contenedorBotones{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.todosBotones{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:60px;
    width:220px;
    height:220px;
    padding:5px;
    gap:4px;
}

.todosBotones > button{
    width:100px;
    height:100px;
    cursor:pointer;
    border:0;
    border-radius:6px;
}

.todosBotones > button:active{
    box-shadow: 10px 0px 30px 0px white;
}

.infoJuego{
    display:flex;
    justify-content: space-evenly;
    width:100%;
}

.infoJuego > button{
    padding:5px;
    width:100px;
    cursor:pointer;
    border-radius:10px;
    border:0;
}

#red{
    background-color: lightcoral;
}
#orange{
    background-color: lightsalmon;
}
#green{
    background-color: lightgreen;
}
#blue{
    background-color: lightskyblue;
}

.mostrarNivel{
    margin-top:30px;
    text-align: center;
}
.desaparece{
    display:none;
}

.agregado{
    box-shadow: 10px 0px 30px 0px white;
}